<section data-ng-controller="NeedsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Needs</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="need in needs" data-ng-href="#!/needs/{{need._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="need.created | date:'medium'"></span>
				by
				<span data-ng-bind="need.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="need.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!needs.$resolved || needs.length">
    	No Needs yet, why don't you <a href="/#!/needs/create">create one</a>?
    </div>
</section>